@import "../../index.css";


.itemContainer {
    padding: 30px;
    box-shadow: black 0px 0px 25px -20px;
    border-radius: 10px;
    list-style: none;
    transition: 0.2s;
}

.itemContainer:hover {
    background: rgba(0, 0, 0, 0.1);
}

.thumbnailPhoto {
    height: 300px;
    border-radius: 10px;
}

.titlePriceContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.itemContainer a {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
}

.price {
    color: green;
    font-weight: bold;
}

.title {
    font-weight: bold;
    font-variant: small-caps;
}
