@import "../../index.css";


.itemContainer {
    padding: 30px;
    box-shadow: black 0px 0px 25px -20px;
    border-radius: 10px;
    list-style: none;
}

.thumbnailPhoto {
    height: 300px;
    border-radius: 10px;
}

.titlePriceContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.price {
    color: green;
    font-weight: bold;
}

.title {
    font-weight: bold;
    font-variant: small-caps;
}