@import "../../index.css";

.dropdownContainer {
    position: absolute;
    left: 21px;
    width: 80%;
}

.dropdownList {
    background: rgb(255, 255, 255);
    list-style: none;
    max-height: 300px;
    overflow: auto;
    margin-top: 2px;
    border: none;
}

/* .dropdownEl:nth-child(odd) {
    background: rgb(255, 255, 255);
    color:
} */

.dropdownEl {
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.dropdownEl:hover {
    background: rgba(0, 0, 0, 0.2);
    color: white;
}

.dropdownEl a {
    text-decoration: none;
    color: black
}