@import "../../index.css";

.categoriesContainer {
    position: absolute;
    background: #000000;
    padding: 44px;
    right: 66px;
}

.list {
    display: grid;
    list-style: none;
    gap: 7px;
}

.list li {
    padding: 3px;
}