@import "../../index.css";

.categoriesContainer {
    display: flex;
    background: #000000;
    margin-top: -4px;
    padding: 44px;
}

.list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 10px;
}