@import "../../index.css";

.categoryBtn {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    padding: 10px;
    background: black;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    transition: 0.2s;
    font-variant: small-caps;
}

.categoryBtn:hover {
    background: white;
    color: black;
}

.categoryBtn:active {
    scale: 0.9;
}