@import "../../index.css";

.list li:nth-child(even) {
    background: transparent;
    color: white;
    margin-top: -100px;
    box-shadow: #ffffff inset 3px 3px 15px -8px;
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    padding: 200px;
    gap: 100px;
    margin-top: 250px;
}

