@import "../../index.css";

.benefitContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 350px;
    height: 350px;
    box-shadow: #71cecf 0px 0px 3px 1px;
    padding: 40px;
}

.benefitContainer img {
    width: 100px;
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 250px;
}

.email {
    font-weight: bold;
    align-self: flex-start;
}

/* .list li:nth-child(even) {
    margin-top: -150px;
} */