@import "../../index.css";

.benefitContainer {
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: space-evenly;
    flex-direction: column;
    width: 350px;
    height: 350px;
    background: white;
    box-shadow: black inset 0px 0px 15px 5px;
    padding: 40px;
}

.benefitContainer img {
    width: 100px;
}

.list li:nth-child(even) {
    background: transparent;
    color: white;
    margin-top: -100px;
    box-shadow: #ffffff inset 3px 3px 15px -8px;
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    padding: 200px;
    gap: 100px;
    margin-top: 250px;
}

.email {
    font-weight: bold;
    align-self: flex-start;
}
