@import "../../index.css";

.header {
    display: flex;
    align-items: center;
    padding: 20px;
    background: #000000;
}

.logo {
    color: white;
    text-decoration: none;
    font-size: 36px;
}