@import "../../index.css";

.listItem {
    display: grid;
    align-items: center;
    grid-template-columns: 5fr 1fr 1fr;
    box-shadow: black 1px 1px 2px 0px;
}

.listItem h2 {
    font-weight: 500;
    font-size: 20px;
}

.listItem a {
    display: flex;
    height: 100%;
    width: 100%;
    gap: 40px;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.listItem a:hover {
    background: rgba(0, 0, 0, 0.1);
}

.listItem input {
    display: flex;
    text-align: center;
    padding: 10px;
}

.thumbnail {
    width: 80px;
}

.priceQuantityContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}