@import "../../index.css";

.listContainer {
    position: relative;
    list-style: none;
    display: flex;
    margin-top: 250px;
}

.list {
    display: flex;
    margin-inline: 100px;
    gap: 20px;
    scroll-behavior: smooth;
    overflow: hidden;
    border-radius: 5px;
}

.nextBtn {
    position: absolute;
    height: 100%;
    z-index: 2;
    right: 20px;
}

.prevBtn {
    position: absolute;
    height: 100%;
    z-index: 2;
    left: 20px;
}