@import "../../index.css";

.shoppingBagBtn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0, 0, 0);
    border: none;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    cursor: pointer;
}

.shoppingBagBtn img {
    width: 42px;
}

.listItemContainer {
    list-style: none;
    display: grid;
    grid-template-columns: 20fr 1fr;
    justify-content: center;
    align-items: center;
}
.dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 200px;
    min-width: fit-content;
    min-height: fit-content;
    max-height: 80svh;
    margin-top: 10px;
    padding-block: 30px;
    padding-inline: 20px;
    right: 5%;
    border-radius: 2px;
    box-shadow: black 1px 1px 5px -2px;
    overflow-y: scroll;
    z-index: 3;
}

.bagEl {
    display: grid;
    grid-template-columns: 5fr 0fr 1fr;
    gap: 25px;
    padding: 10px;
    transition: 0.2s;
}

.bagEl:hover {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 100%;
}

.bagElContainer {
    list-style: none;
    text-decoration: none;
    color: black;
}

.checkoutBtnsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

.checkoutBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e91b1b;
    color: white;
    border-radius: 2px;
    text-decoration: none;
    padding-block: 10px;
    padding-inline: 20px;
    margin-top: 40px;
    font-size: 16px;
    box-shadow: 1px 2px 4px 0px black;
    border: none;
    transition: 0.2s;
    cursor: pointer;
}

.checkoutBtn:hover {
    background: #b60909;
    color: white;
}

.checkoutBtn:active {
    background: #b60909;
    scale: 0.96;
}

.total {
    font-weight: bold;
    font-size: 20px;
    margin-top: 40px;
    margin-right: 50px;
    align-self: self-end;
}

.trashIcon {
    height: 25px;
    justify-self: flex-end;
    cursor: pointer;
}

.trashIcon:hover {
    scale: 1.05
}

.price {
    font-weight: bold;
}
