@import "../../index.css";

.inputsContainer{
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 860px;
    padding: 100px;
    padding-block: 80px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.inputsContainer input {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 8px;
    font-style: italic;
}

.inputsContainer label {
    position: absolute;
    font-size: 12px;
    font-style: italic;
    margin-top: -10px;
    background: white;
    padding-inline: 10px;
    margin-left: 5px;
}

.title {
    margin-top: 100px;
    font-weight: 400;
    padding: 15px;
    border-radius: 15px 15px 0 0;
}

.inputWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}